/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  content: "";
  background-image: url(image/4k-bmw-qibmh5r5hta6g7lp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1,
h2,
h3,
h4,
h5 {
  color: #000000;
}

p,
label {
  color: #000000;
}

input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;  
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
  width: 400px;
  background-color: rgba(231, 231, 231, 0.9);
}

textarea {
  padding: 10px 5px;
}

/* page header */
.header {
  background-color: #673ab7;
  padding: 30px;
  height: 160px;
}

.header h3 {
  color: #fff;
  margin-top: 0;
}

/* form container */
.form-container {
  background-color: rgba(231, 231, 231, 0.8);
  width: 60%;
  margin: 0 auto ;
  position: relative;
  top: -62px;
}

/* form header */
.form-header {
  border-bottom: 1px solid #dfdfdf;
  height: 45px;
}

.form-header p {
  color: #673ab7;
  border-bottom: 2px solid #673ab7;
  width: 170px;
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  height: 45px;
  line-height: 45px;
}

/* form body */
.form-body {
  padding: 30px;
}

.form-title {
  margin-bottom: 15px;
}

.form-body p {
  margin-bottom: 20px;
}

.required-field {
  color: #d80835;
}

.box-input {
  margin-bottom: 35px;
}

.block {
  display: block;
}

.optional-box {
  display: inline-block;
  margin: 0 30px 30px 0;
}

.optional-list li {
  list-style: none;
  margin-bottom: 5px;
}

.box-input p {
  margin-bottom: 15px;
}

.btn-submit {
  background-color: #673ab7;
  color: #fff;
  border: 2px solid transparent;
  width: 150px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.7s;
}

.btn-submit:hover {
  background-color: #fff;
  border-color: #673ab7;
  color: #673ab7;
}

footer{
	background-color: #673ab7;
}

footer p{
	color: white;
	text-align: center;
	font-size: 15px;
	padding: 30px;
}


@media screen and (max-width: 768px) {
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="file"],
  textarea {
    width: 100%;
}
}